<html>

<body>
    <form method="post" action="submit">
        <input type="number" name="preg" placeholder="Enter your preg'" required="required">
        <input type="number" name="plas" placeholder="Enter your plas" required="required">
        <input type="number" name="pres" placeholder="Enter your pres" required="required">
        <input type="number" name="skin" placeholder="Enter your skin" required="required">
        <input type="number" name="test" placeholder="Enter your test" required="required">
        <input type="number" name="mass" placeholder="Enter your mass" required="required">
        <input type="number" name="pedi" placeholder="Enter your pedi" required="required">
        <input type="number" name="age" placeholder="Enter your age" required="required">
        <button>Submit</button>
    </form>

</body>

</html>